*.db
.DS_Store
.cache/
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.ssh_tunnel
.terraform
.terraform.*
.variables/
.vscode
__pycache__/
docker-compose.override.yml
logs/
mage_data/
mlruns/
secrets/
terraform.tfstate
terraform.tfstate.backup
titanic_clean.csv
.DS_Store
mlartifacts/
mlruns
model-deployment/aws-model-deployment/aws_credentials.yaml
model-deployment/web-services-mlflow
Pipfile.lock